/* .pa{
    color: white;
    background-color: tomato;
    width: 20rem;
    height: 150px;
    text-align: center;
    vertical-align: center;
    border-radius: 10px;
    padding: 15px;
    font-size: 35px;
    box-shadow: 30px,9px,0px black inset;
}
 */


.droptarget{
    float: left;
    width: 100px;
    height: 35px;
    margin: 15px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}